@model (Application.Entities.DegreeRequirementCourse Course, int Level)

<tr data-list-course-level="@(Model.Level)">
    <td style="width:200px;" class="ps-@(Model.Level + 1)">
        <span>@Model.Course.SubjectCode @Model.Course.CourseNumber</span>
        @if (Model.Course.AltCourse1 is not null)
        {
            <span class="d-block ps-2">@Model.Course.AltQuantifier @Model.Course.AltCourse1</span>
        }

        @if (Model.Course.AltCourse2 is not null)
        {
            <span class="d-block ps-2">@Model.Course.AltQuantifier @Model.Course.AltCourse2</span>
        }

        @if (Model.Course.AltCourse3 is not null)
        {
            <span class="d-block ps-2">@Model.Course.AltQuantifier @Model.Course.AltCourse3</span>
        }

        @if (Model.Course.AltCourse4 is not null)
        {
            <span class="d-block ps-2">@Model.Course.AltQuantifier @Model.Course.AltCourse4</span>
        }
    </td>
    <td>
        @Model.Course.Description

        @if (!string.IsNullOrEmpty(Model.Course.AltCourse1))
        {
            <span class="d-block">@Model.Course.AltCourse1Description</span>
        }

        @if (!string.IsNullOrEmpty(Model.Course.AltCourse2))
        {
            <span class="d-block">@Model.Course.AltCourse2Description</span>
        }

        @if (!string.IsNullOrEmpty(Model.Course.AltCourse3))
        {
            <span class="d-block">@Model.Course.AltCourse3Description</span>
        }

        @if (!string.IsNullOrEmpty(Model.Course.AltCourse4))
        {
            <span class="d-block">@Model.Course.AltCourse4Description</span>
        }
     </td>
     <td class="hourscol">
         @if (@Model.Course.HoursMax is not null and > 0)
         {
             if (@Model.Course.HoursMax - @Model.Course.HoursMin == 1)
             {
                 <span>@Model.Course.HoursMin or @Model.Course.HoursMax</span>
             }
             else
             {
                 <span>@Model.Course.HoursMin to @Model.Course.HoursMax</span>
             }
         }
         else if(Model.Course.HoursMin > 0)
         {
             <span>@Model.Course.HoursMin</span>
         }
     </td>
 </tr>
